<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Test</title>
    <link href="../styles/main.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="mainContainer">
        <header>
            <div class="heading">Trip Advisor</div>
        </header>

        <main>
            <div class='inputs'>
                <div class='inputarea' id='input1'>
                    <div class="label">Enter city name you will travel</div>
                    <div class="input"><input type="text" value="city" placeholder="Enter city.."></div>
                </div>
                <div class='inputarea' id='input2'>
                    <div class="label">Enter the date you wish to travel</div>
                    <div class="input"><input type="date" value="date"></div>
                </div>
            </div>
            <div class='results'>
                <div class='image'>Sample Image</div>
                <div class='weather'>Sample weather prediction</div>
            </div>
        </main>

        <footer>
            <div class="copyright">&#169; All copyrights reserved.</div>
        </footer>
    </div>
</body>

</html>