<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Test</title>
</head>

<body>
    <div class="mainContainer">
        <header>
            <div class="heading">Trip Advisor</div>
        </header>

        <div class='error' id='errorresponse'>
        </div>
        <div class='inputs'>
            <div class='inputarea'>
                <div class="statement">Please Enter details to plan your trip.</div>
            </div>
            <div class='inputarea' id='input1'>
                <div class="label">Enter city name you will travel </div>
                <div class="input"><input type="text" placeholder="Enter city.." id="city"></div>
            </div>
            <div class='inputarea' id='input2'>
                <div class="label">Enter the date you wish to travel </div>
                <div class="input"><input type="date" id="date"></div>
            </div>
            <div class='inputarea'>
                <button onclick="Client.handleInput(event)">Generate</button>
            </div>
        </div>
        <div class="blankarea"></div>
        <div class='results'>
            <div class='image' id="imageurl"></div>
            <div class='weather' id="weatherDetails"></div>
        </div>

        <footer>
            <div class="copyright">&#169; All copyrights reserved.</div>
        </footer>
    </div>
</body>

</html>